@model EHealthCard.Models.Person

@{
    ViewData["Title"] = "Search";
}

<h1>Search People</h1>
<hr />
<form asp-action="SearchItems">
    <div class="row from-group">
        <div class="col">
            <label asp-for="PersonId" class="control-label"></label>
            <input asp-for="PersonId" class="form-control" />
            <span asp-validation-for="PersonId" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Zip" class="control-label"></label>
            <input asp-for="Zip" class="form-control" />
            <span asp-validation-for="Zip" class="text-danger"></span>
        </div>
        <div class="col align-self-center">
            <input type="submit" value="List" class="btn btn-primary" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
