@model EHealthCard.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HospitalName" class="control-label">Hospital</label>
                <input asp-for="HospitalName" class="form-control" />
                <span asp-validation-for="HospitalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompId" class="control-label">Insurance company</label>
                <input asp-for="CompId" class="form-control" />
                <span asp-validation-for="CompId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label">Date</label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentPeriod" class="control-label">Period</label>
                <input asp-for="PaymentPeriod" class="form-control" />
                <span asp-validation-for="PaymentPeriod" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col">
                    <h4 class="mt-2">Company details</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="CompBank" class="control-label">Bank</label>
                        <input asp-for="CompBank" class="form-control" />
                        <span asp-validation-for="CompBank" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompIban" class="control-label">Iban</label>
                        <input asp-for="CompIban" class="form-control" />
                        <span asp-validation-for="CompIban" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <h4 class="mt-2">Hospital details</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="HospitalBank" class="control-label">Bank</label>
                        <input asp-for="HospitalBank" class="form-control" />
                        <span asp-validation-for="HospitalBank" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HospitalIban" class="control-label">Iban</label>
                        <input asp-for="HospitalIban" class="form-control" />
                        <span asp-validation-for="HospitalIban" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h4 class="mt-2">Details</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
