@model EHealthCard.Models.InsuranceComp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InsuranceComp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompId)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompId">Edit</a> |
</div>
