@{
    var message = TempData["Message"] ?? string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EHealthCard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EHealthCard.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EHealthCard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="dropdown nav-item" role="button">
                            <a class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Database
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Index">Cities</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitals" asp-action="Index">Hospitals</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="DiagnosesTypes" asp-action="Index">Diagnoses Types</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="InsuranceComps" asp-action="Index">Insurance Companies</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">People</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Insurances" asp-action="Index">Insurances</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitalizations" asp-action="Index">Hospitalizations</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Diagnoses" asp-action="Index">Diagnosis</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="Index">Payments</a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Data" asp-action="Index">Data Manager</a>
                            </ul>
                        </li>
                        <li class="dropdown nav-item" role="button">
                            <a class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                Hospitalizations
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitalizations" asp-action="Graph">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                                    </svg>
                                    Most Common Diagnosis
                                </a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitalizations" asp-action="Table">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                    Diagnosis in Hospital over a Year
                                </a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitalizations" asp-action="DailyCosts">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                    Hospitalization Costs over a Month
                                </a>
                            </ul>
                        </li>
                        <li class="dropdown nav-item" role="button">
                            <a class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                Hospitals
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitals" asp-action="ActualHosp">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                    Actual Hospitalizations
                                </a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Hospitals" asp-action="Graph">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                                    </svg>
                                    Hospitalizations over a Year
                                </a>

                            </ul>
                        </li>
                        <li class="dropdown nav-item" role="button">
                            <a class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                Insurances
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Insurances" asp-action="MostInsured">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                    Most Times Insured People
                                </a>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Insurances" asp-action="Graph">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                                    </svg>
                                    Top Insurance Companies                                   
                                    </a>
                            </ul>
                        </li>
                        <li class="dropdown nav-item" role="button">
                            <a class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                Payments
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="PaymentsSum">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                    Sum of Payments in Hospital over Year
                                </a>
                            </ul>
                        </li>
                        <li class="dropdown nav-item" role="button">
                            <a class="dropdown-toggle nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                People
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="People" asp-action="GenderPercentage">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                                    </svg>
                                    Percentage of Gender Birth over Year
                                </a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (message != null && message != string.Empty)
            {
                <div id="liveAlertPlaceholder">
                    <div>
                        <div class="alert alert-dark alert-dismissible" role="alert">
                            <div>@message</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EHealthCard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
