@{
    ViewData["Title"] = "Delete Data";
}

<h1>Generate Data</h1>

<p>
    <a asp-action="Generate">Generate Data</a>
</p>

<h1>Delete Data</h1>

<p>
    <a asp-action="Delete">Delete Data</a>
</p>
