@{
    ViewData["Title"] = "Delete Data";
}

<h1>Generate Data</h1>

<p>
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Generate")'">Generate data</button>
</p>

<h1>Delete Data</h1>

<p>
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Delete")'">Delete data</button>
</p>
