@model EHealthCardApp.Models.Generator

@{
    ViewData["Title"] = "GenerateData";
}

<h4>Generator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cities" class="control-label"></label>
                <input asp-for="Cities" class="form-control" />
                <span asp-validation-for="Cities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnoses" class="control-label"></label>
                <input asp-for="Diagnoses" class="form-control" />
                <span asp-validation-for="Diagnoses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisTypes" class="control-label"></label>
                <input asp-for="DiagnosisTypes" class="form-control" />
                <span asp-validation-for="DiagnosisTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospitals" class="control-label"></label>
                <input asp-for="Hospitals" class="form-control" />
                <span asp-validation-for="Hospitals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospitalizations" class="control-label"></label>
                <input asp-for="Hospitalizations" class="form-control" />
                <span asp-validation-for="Hospitalizations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurances" class="control-label"></label>
                <input asp-for="Insurances" class="form-control" />
                <span asp-validation-for="Insurances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceComps" class="control-label"></label>
                <input asp-for="InsuranceComps" class="form-control" />
                <span asp-validation-for="InsuranceComps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payments" class="control-label"></label>
                <input asp-for="Payments" class="form-control" />
                <span asp-validation-for="Payments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People" class="control-label"></label>
                <input asp-for="People" class="form-control" />
                <span asp-validation-for="People" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
